<div class='container'>
  <div class='row mt-4'>
    <div class='col-8'>
      <h1>Sending actions down to components</h1>
      <p>In this example, click the button below to begin selecting dashboard modules. After selecting 
         a number of dashboard modules by clicking on them, you will be able to perform to perform an
         action on each of these components.</p>
      <ul>
        <li><a href="https://github.com/timmyomahony/ember-actions-example">https://github.com/timmyomahony/ember-actions-example</a></li>
        <li><a href="https://timmyomahony.com/blog/sending-actions-down-components/">https://timmyomahony.com/blog/sending-actions-down-components/</a></li>
      </ul>
    </div>
  </div>
  <hr>
  <div class='row'>
    <div class='col-12 d-flex justify-content-between'>
      <button type="button" class="btn btn-primary mr-2" {{action 'toggleSelectModules'}}>Select Dashboard Modules</button>
      {{#if selectModules}}
        <div>
          <button type="button" class="btn btn-success mr-1" {{action 'exportModules'}}>Export Dashboard Modules</button>
          <button type="button" class="btn btn-info" {{action 'toggleSelectAll'}}>{{#if dashboard.allSelected}}Deselect{{else}}Select{{/if}} All</button>
        </div>
      {{/if}}
    </div>
  </div>
  <hr>
  <div class='row'>
    <div class='col-12 col-md-6 col-lg-4'>
      {{dashboard-module isSelectable=selectModules title="Module One"}}
    </div>
    <div class='col-12 col-md-6 col-lg-4'>
      {{dashboard-module isSelectable=selectModules title="Module Two"}}
    </div>
    <div class='col-12 col-md-6 col-lg-4'>
      {{dashboard-module isSelectable=selectModules title="Module Three"}}
    </div>
  </div>
  <div class='row'>
    <div class='col-12 col-md-6 col-lg-4'>
      {{dashboard-module isSelectable=selectModules title="Module Four"}}
    </div>
    <div class='col-12 col-md-6 col-lg-4'>
      {{dashboard-module isSelectable=selectModules title="Module Five"}}
    </div>
    <div class='col-12 col-md-6 col-lg-4'>
      {{dashboard-module isSelectable=selectModules title="Module Six"}}
    </div>
  </div>
</div>